.container {
    margin-left: 10%;
}

.navbar {
    width: auto;
}

i {
    margin-top: .4rem;
    font-size: 1.5rem;
}

.col-name-user {
    
    border-right: 2px solid #E5E5E5;
}

.col-name-user > p {
    font-size: 1rem;
    margin:0;
    text-align: right;
    margin-right: 0.5rem;
    padding-right:1rem;
    color: black;
    font-weight: bold;
}

span{
    color: #00acd8;
}

.boton{
    border: none;
    background-color: #00acd8 !important;
    color: white; 
    align-items: center;
    border-radius: 20px;
    font-size: 1.3rem;
    font-weight: bolder;
    height: 40px;
    width: 200px;
}