/*input {
    max-width: 100%;
    font-weight: 500;
    font-size: 1rem;
    border-radius: 15px !important;
    border-color: var(--principal-text);
}*/

.title-header {
    font-weight: 800;
}

label {
    display: block;
}

input[type="radio"] {
    margin-left: 10px;
}

.riesgoCaidalbl {
    display: inline-block;
    margin-left: 10px;
}

.secondaryButton {
    margin-top: 1.8rem;
}

.signos-vitales input {
    text-align: center;
}

span {
    font-size: 1rem;
    font-weight: 400;
    color: #001672;
}

.margenDer {
    margin-right: 4rem;
}

.centerxd {
    text-align: left;
    font-size: 40px;
    font-weight: 600;
    color: #001672;
    font-style: italic;
    margin-left: 25px;
}

.fecha {
    text-align: right;
    font-size: 20px;
    font-weight: 800;
    color: #001672;
    font-style: normal;
}

#card {
    border-color: white;
    border-radius: 1em;
    box-shadow: 19px 18px 20px -8px rgba(196, 192, 196, 1);
    /* height: 17em; */
    width: 100% !important;
    margin-bottom: 3em;
    /* display: inline-block !important; */
}

.glucoWarning {
    color: #001672;
    /* border: 1px solid black; */
    font-size: 15px;
    font-weight: 700;
}

.upper {
    text-transform: uppercase;
}