<h1 class="centerxd">DETALLE PEDIDO</h1>

<br>

<!-- <section class="row">
    <div style="margin-left: 5%;" class="col-md-6">
        <input type="text" placeholder="Buscar" class="form-control" id="buscador" style="border-radius: 20px;">
    </div>

    <div class="col-md ">
        <button class="principalButton " style="color: aliceblue; ">NUEVO</button>
    </div>

</section> -->



<div style="margin-top: 2%;" class="col-xs-12" id="tabla">
    <div class="card" style="border-radius: 30px;">
        <div class="card-heder header">
            <div class="row">
                <div class="col-md-2 text_header">
                    <p>No</p>
                </div>
                <div class="col text_header">
                    <p>FECHA</p>
                </div>
                <div class="col text_header">
                    <p>ESTUDIOS</p>
                </div>
                <!-- <div class="col text_header">
                    <p>TOTAL</p>
                </div>
                <div class="col text_header">
                    <p>SUCURSAL</p>
                </div>
                <div class="col text_header">
                    <p></p>
                </div> -->
            </div>
        </div>


        <div class="card-body">
            <div class="row texto" *ngFor="let item of estudios; let i = index">
                <div class="col-md-2">
                    <p>{{i+1}}</p>
                </div>
                <div class="col">
                    <p>{{pedidos.fecha | date:'dd/MM/yyyy':'UTC'}}</p>
                </div>
                <div class="col">
                    <p>{{item.nombreEstudio}}</p>
                </div>
            </div>
        </div>

        <!-- <div class="offset-md-3">
            <pagination-controls style="color:#001672;" id="lista" maxSize="10"></pagination-controls>
        </div> -->
    </div>
</div>

<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "large" color = "#00bbf1" type = "ball-scale-multiple" [fullScreen] = "true"><p style="color: white" > Cargando... </p></ngx-spinner>