select{
    border-radius: 25px;
    font-weight: 400;
    font-size: 1rem;
    max-width:40em;
    box-shadow: 3px 3px 6px gray;
    border: none;
    width: 100%;
    outline: none;
    height: 30px;
    padding-left: 5px;
}