<app-bitacora-ultrasonido *ngIf="servicios == 'ultrasonido'"></app-bitacora-ultrasonido>
<app-regresos-lab *ngIf="servicios == 'laboratorio'"></app-regresos-lab>
<app-bitacora-rayos-x *ngIf="servicios == 'xray'"></app-bitacora-rayos-x>
<app-bitacora-endoscopia *ngIf="servicios == 'endoscopia'"></app-bitacora-endoscopia>
<app-bitacora-patologias *ngIf="servicios == 'patologia'"></app-bitacora-patologias>