<div class="row mt-3">
    <div class="col-md-12">
        <select name="" id="" #medico (change)="changeMedico(medico.value)" class="input-censur" >
            <option value=""> Selecciona un medico </option>
            <option [value]="medico.NOMBRE" *ngFor="let medico of medicos"> {{ medico.NOMBRE }} </option>
        </select>
    </div>
</div>
