input[type="text"],
input[type="tel"],
input[type="email"],
input[type="number"],
input[type="date"],
select {
    margin-top: .5rem;
}

label {
    margin: .1rem;
}

h3 {
    font-size: 1.3rem;
    font-weight: 800;
    margin-bottom: 1.1rem;
}

.principalButton {
    color: white;
    font-size: 1.3rem;
}

.principalButton:disabled{
  background-color: #bababa !important;
  cursor: not-allowed;
}

button {
    color: --button-package;
    /* display: block; */
}

.card {
    box-shadow: 3px 3px 10px gray;
}
.mayusculas{
    text-transform: uppercase;
}
.minusculas{
    text-transform: lowercase;
}



.switch {
    position: relative;
    display: inline-block;
    width: 35px;
    height: 21px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(14px);
    -ms-transform: translateX(14px);
    transform: translateX(14px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }