app-card {
    width: 2000px;
}

#logoDashboard{
    margin-top: 50px;
    height: auto;
    width: auto;
    opacity: .2;
}

@media (min-width: 1200px){
    #content {
        /*margin: 50px;*/
        height: 33.6em;
    }
}