<div id="content">

    <div class="container">
        <!-- Content Row -->

        <!-- <app-card></app-card> -->
        <img id="logoDashboard" src="../../../assets/images/socio_horizonte_1.svg" alt="">
        <router-outlet></router-outlet>
    </div>

</div>