.consultorioxd {
    /*float: right;*/
    margin-right: 1rem;
    max-width: 7 rem;
}

.modal-header {
    width: 100%;
}

.containerFI {
    display: flex;
    justify-content: space-between;
}

.boton_contra2 {
    margin-right: 15px;
    border-radius: 3em !important;
    width: 12em !important;
    background-color: #686A8F;
    border-color: #686A8F;
}


/*
.consultorioxd:first-of-type {
  margin-left: rem;
} */


/*.consultorioxd:last-of-type {
    margin-left: 9rem;
}*/

.cardxd {
    display: flex;        
    justify-content: center;
    width: 100%;
    text-align: left;
    font-size: 40px;
    font-weight: 600;
    color: #686A8F;
    font-style: italic;
    text-transform: uppercase;
}

.secondaryButton {
    margin-left: 15px;
    padding: 0.4rem;
    color: white;
}

.tabla-header {
    color: #001672;
    text-align: center;
    text-transform: uppercase;
    font-weight: 800;
}

.searchInput {
    margin-top: 2rem;
    width: 277;
    margin-right: 3rem;
}

.selectStyle {
    text-align-last: center;
}

.dupla {
    margin-right: 3rem;
}

.timexD {
    margin-top: 1rem;
    margin-left: .5rem;
}

#busquedaPaciente {
    border-radius: 15px;
    font-weight: 400;
    font-size: 1rem;
    max-width:50em;
    box-shadow: 3px 3px 6px gray;
}

select{
    border-radius: 15px;
    font-weight: 400;
    font-size: 1rem;
    max-width:50em;
    box-shadow: 3px 3px 6px gray;
}

input, textarea{
    border-radius: 15px;
    font-weight: 400;
    font-size: 1rem;
    max-width:50em;
    box-shadow: 3px 3px 6px gray;
}

.boton{
    border: none;
    background-color: #00acd8 !important;
    color: white; 
    align-items: center;
    border-radius: 20px;
    font-size: 1rem;
    font-weight: bolder;
    height: 40px;
    width: 150px;
}

.boton2{
    border: none;
    background-color: #686A8F !important;
    color: white; 
    align-items: center;
    border-radius: 20px;
    font-size: 1rem;
    font-weight: bolder;
    height: 40px;
    width: 150px;
}

.card{
    box-shadow: 3px 3px 10px gray;
}

.modal-header .row {
    display: flex;
    flex-direction: column;
}
  
.paciente {
    flex: 1;
    max-height: 300px;
    overflow-y: scroll;
}

.paciente ul{
    padding: 0px;
}

.paciente li{
    list-style-type: none;
}

.paciente li:hover{
    cursor: pointer;
    background-color: #00acd8;
    color: white;
    padding: 8px;
    border-radius: 30px;
}
  

/* .btnNuevo {
  float: right;
} */