<section class="container">
    <div class="row">
        <div class="col-8">
            <app-titulos [title]="'AGREGAR CONSULTAS'" [rol]="'consulta'" ></app-titulos>
        </div>
        <div class="col-2">
            <div class="btnNuevo">
                <button  type="button" class="btn btn-secondary boton_contra2" data-toggle="modal" data-target="#exampleModal">CONSULTA</button>
            </div>
        </div>
        <div class="col-md-2">
            <button class="secondaryButton" [routerLink]="['/consultas', 'general']"> VER CONSULTAS </button>
        </div>
    </div>
</section>

<section class="container">
    <div class="row center" style="justify-content: center;">
        <div class="col-md-4">
            <div class="card consultorioxd" style="max-width: 20rem;">
                <div class="card-body">
                    <h5 class="card-text">CONSULTORIO</h5>
                    <h2 class="card-title">1</h2>
                    <p class="card-text">MÉDICO: KARINA JIMÉNEZ VALDEPEÑA</p>
                    <p class="card-text">MEDICINA GENERAL</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card consultorioxd" style="max-width: 20rem;">
                <div class="card-body">
                    <h5 class="card-text">CONSULTORIO</h5>
                    <h2 class="card-title">2</h2>
                    <p class="card-text">LAURA LIZETH MORALES SANTOS</p>
                    <p class="card-text">MÉDICO GENERAL</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card consultorioxd">
                <div class="card-body">
                    <h5 class="card-text">CONSULTORIO</h5>
                    <h2 class="card-title">3</h2>
                    <p class="card-text">ESPECIALIDADES</p>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="cardxd">
    SALA DE ESPERA
</div>

<section class="container">
    <div class="row center" style="justify-content: center;">
        <div class="col-md-4">
            <div class="card consultorioxd" style="max-width: 20rem;">
                <div class="card-body">
                    <h5 class="card-text">En espera:</h5>
                    <div *ngFor="let listaEsperaP of listaEspera;">
                        <h5 class="card-text" *ngIf="listaEsperaP.consultorio === 'consultorioUno'">{{ listaEsperaP.paciente.nombrePaciente }} {{ listaEsperaP.paciente.apellidoPaterno }} {{ listaEsperaP.paciente.apellidoMaterno }}</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card consultorioxd" style="max-width: 20rem;">
                <div class="card-body">
                    <h5 class="card-text">En espera:</h5>
                    <div *ngFor="let listaEsperaP of listaEspera;">
                        <h5 class="card-text" *ngIf="listaEsperaP.consultorio === 'consultorioDos'">{{ listaEsperaP.paciente.nombrePaciente }} {{ listaEsperaP.paciente.apellidoPaterno }}  {{ listaEsperaP.paciente.apellidoMaterno }} </h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card consultorioxd" style="max-width: 20rem;">
                <div class="card-body">
                    <h5 class="card-text">En espera:</h5>
                    <div *ngFor="let listaEsperaP of listaEspera;">
                        <h5 class="card-text" *ngIf="listaEsperaP.consultorio === 'consultorioTres'">{{ listaEsperaP.paciente.nombrePaciente }} {{ listaEsperaP.paciente.apellidoPaterno }} {{ listaEsperaP.paciente.apellidoMaterno }} </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <div class="modal fade nombrePendejoParaEcontrarEsteDivDeMierdaxD" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <section class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <h5 class="modal-title cardxd" id="exampleModalLabel">Nueva Cita</h5>
                            </div>
                        </div>
                    </section>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-header" *ngIf="sede == 'CTLA01'">
                    <div class="row">
                        <div class="col-md-12">
                            <input #nombre (keyup)="buscarPaciente(nombre.value)" type="text" name="busquedaPaciente" class="form-control" id="busquedaPaciente" placeholder="Buscar paciente..." style="width: 28rem;">
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <section class="modal-header">
                        <div class="row">
                          <div class="col-md-12 paciente">
                            <ul>
                              <ng-container *ngFor="let item of AllPacientes">
                                <li (click)="seleccionarPaciente( item )"> 
                                  {{ item.nombrePaciente }} {{ item.apellidoPaterno }} {{ item.apellidoMaterno }} 
                                  <span> {{ item.curp }} </span> 
                                </li>
                              </ng-container>
                            </ul>
                          </div>
                        </div>
                      </section>                      
                    <form>
                        <div class="form-group">
                            <label for="nombrePacienteIdentificado" class="col-form-label">Paciente:   </label> {{ paciente.nombrePaciente }} {{ paciente.apellidoPaterno }} {{ paciente.apellidoMaterno }}
                            <br>
                            <div class="containerFI">
                                <label for="curp"> CURP: {{ paciente.curp }}  </label>

                            </div>

                        </div>
                        <div class="form-group">
                            <label for="consultorio" class="col-form-label">Consultorio:</label>
                            <select class="selectStyle form-control" [(ngModel)]="paciente.consultorio" name="consultorio" id="consultorio">
                              <option value=""   selected  >-- Seleccione Consultorio --</option>
                              <option value="consultorioUno">Consultorio 1</option>
                              <!-- <option value="consultorioDos">Consultorio 2</option>
                              <option value="consultorioTres">Consultorio 3</option>
                              <option value="consultorioCuatro">Consultorio 4</option>
                              <option value="consultorioCinco ">Consultorio 5</option> -->
                          </select>
                        </div>
                        <div class="form-group">
                            <label for="servicio" class="col-form-label">Servicio:</label>
                            <select class="selectStyle form-control" [(ngModel)]="paciente.servicio" name="servicio" id="servicio">
                         <option selected value="">-- Seleccione Servicio --</option>
                              <!-- <option value="Ambulacia">Ambulacia</option>
                              <option value="Endoscopia">Endoscopía</option>
                              <option value="Pediatría">  Pediatría </option> -->
                              <option value="ConsultaGeneral">Consulta General</option>
                          </select>
                        </div>
                        <div class="form-group">
                            <label for="doctorAPasar"> Doctor </label>
                            <div *ngIf="sede == 'CTLA01'">
                                <select name="doctorAPasar" class="selectStyle form-control" [(ngModel)]="paciente.doctorAPasar" name="doctorAPasar" id="doctorAPasar">
                                  <option value="" selected >  Selecciona el doctor </option>
                                  <option [value]="item.nombre" *ngFor="let item of doctoresCuatla"> {{item.nombre}} </option>
                                </select>
                            </div>
                            <div *ngIf="sede != 'CTLA01'">
                                <select name="doctorAPasar" class="selectStyle form-control" [(ngModel)]="paciente.doctorAPasar" name="doctorAPasar" id="doctorAPasar">
                                    <option value="" selected >  Selecciona el doctor </option>
                                    <option [value]="nombreSocio"> MEDICO UNICO </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="motivoIngreso" class="col-form-label">Motivo de ingreso: </label>
                            <input type="text" class="form-control" id="motivoIngreso" [(ngModel)]="paciente.motivoIngreso" name="motivoIngreso">
                        </div>

                        <div class="row dupla center">
                            <div class="col-md">
                                <label for="">Fecha  de ingreso {{ fechaIngreso }}   </label>
                                <label for="hora">Hora: {{ horaIngreso}}  </label>
                            </div>
                        </div>


                        <div class="form-group">
                            <label for="message-text" class="col-form-label">Nota:</label>
                            <textarea class="form-control" id="message-text" name="notaRecepcion" [(ngModel)]="paciente.notaRecepcion"></textarea>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="boton2" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="boton" (click)="enviar()" data-dismiss="modal">Enviar</button>
                </div>
            </div>
        </div>
    </div>
    <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "large" color = "#00bbf1" type = "ball-scale-multiple" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
</div>