<div class="container-fluid">
    <app-titulos [title]="nombre" [rol]="'pacientes'"></app-titulos>
    <!-- <h1 class="centerxd" *ngIf="showVista">LISTADO DE {{servicios| uppercase}}</h1> -->

    <div class="container-fluid">
        <div class="row" *ngIf="showVista">
            <div class="col-md-8">
                <form>
                    <div class="form-group">
                        <input style="margin-top: 15px;" type="text" name="filterPost" placeholder="Buscar" class="form-control" id="buscador" (keyup)="busquedaGeneral($event)">
                    </div>
                </form>
            </div>
        </div>
        <app-tabla-service *ngIf="showTableAmbulanacia" [serviceSi]="serviceSi" [membresia]="membresia" [RoleUser]="RoleUser" [totalpaciente]="totalAmbulancia" [servicios]="servicios"></app-tabla-service>
        <!-- TERMINA LA TABLA DE LOS DEMAS SERVICIOS  -->
        <app-ambulancia *ngIf="showAmbulanacia" [ambulanciaSI]="ambulanciaSI" [showAmbulanacia2]="false"></app-ambulancia>
    </div>
</div>