.card{
    padding: 15px;
    border-radius: 30px;
    margin-left: 25px;
    margin-top: 25px;
    box-shadow: 3px 3px 10px gray;
}

.boton_contra2 {
    /* border-radius: 3em !important;
    width: 12em !important;
    background-color: #E3D049;
    border-color: #E3D049; */
    border-color: #00acd8;
    border-radius: 3em !important;
    background-color: #00acd8;
    font-size: 1.5rem;
    width: 12em !important;
    margin: 0 auto;
}

select{
    border-radius: 20px;
    height: 45px;
    box-shadow: 3px 3px 10px gray;
    font-size: 1rem;
    margin-left: 10px;
}

#fechaEstudios{
    box-shadow: 3px 3px 10px gray; 
    border-radius: 20px;
    border: none;
    outline: none;
    font-size: 1rem;
}

.boton{
    margin-top: 15px;
    border: none;
    background-color: #00acd8 !important;
    color: white; 
    align-items: center;
    border-radius: 20px;
    font-size: 1rem;
    font-weight: bolder;
    height: 40px;
    width: 150px;
}