<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <app-titulos [title]="titulo"></app-titulos>
        </div>
    </div>

    <div class="row" style="margin-bottom: 25px;">
        <select name="filtro" class="input-censur" id="" #filtro (change)="filterEstudios(filtro.value)">
            <option value="" selected> Selecciona un filtro </option>
            <option value="endoscopia"> Endoscopía</option>    
            <option value="laboratorio"> Laboratorio</option>
            <option value="xray"> Rayos X </option>
            <option value="tomografia"> Tomografía</option>
            <option value="ultrasonido"> Ultrasonido</option>
            <option value="patologia"> Patología </option> 
        </select>
        <div class="col-md-12 col-lg-12">
            <div class="card">
                <div class="card-heder header mayus">
                    <div class="row">
                        <div class="col-md-1 text_header">
                            <p>#</p>
                        </div>
                        <div class="col-md-2 text_header">
                            <p>FECHA</p>
                        </div>
                        <div class="col text_header">
                            <p>NOMBRE</p>
                        </div>
                        <div class="col-md-2 text_header">
                            <p>TIPO SERVICIO</p>
                        </div>
                        <!-- <div class="col-md-1 text_header">
                            <p>SEXO</p>
                        </div> -->
                        <div class="col-md-1 text_header">
                            <p>SEDE</p>
                        </div>
                        <div class="col text_header">
                            <p>ESTUDIO</p>
                        </div>
                        <div class="col text_header">
                            <p>DESCARGAR</p>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row pointer puntero" *ngFor="let item of estudios| paginate:{id:'listaestudios',
                                                                                    itemsPerPage: 5,
                                                                                    currentPage:pagina,
                                                                                    totalItems:totalEstudios}; let i = index">
                        <div class="col-md-1">
                            <p>{{ i + 1 }}</p>
                        </div>
                        <div class="col-md-2">
                            <p>{{ item.fechaPedido | date: 'dd/MM/yyyy':'UTC' }}</p>
                        </div>
                        <div class="col">
                            <p [routerLink]="['/final/obtenidos', item._id]" *ngIf="!item.newEstudio">{{ paciente.nombrePaciente }} {{ paciente.apellidoPaterno }} {{ paciente.apellidoMaterno }}</p>
                            <p *ngIf="item.newEstudio">{{ paciente.nombrePaciente }} {{ paciente.apellidoPaterno }} {{ paciente.apellidoMaterno }}</p>
                        </div>
                        <div class="col-md-2">
                            <p>{{ item.nombreServicio }}</p>
                        </div>
                        <!-- <div class="col-md-1">
                            <p>{{ paciente.genero }}</p>
                        </div> -->
                        <div class="col-md-1">
                            <p>{{ item.sede }}</p>
                        </div>
                        <div class="col">
                            <p>{{ item.idServicio.ESTUDIO }}</p>
                        </div>
                        <div class="col estudios">
                            <div *ngIf="item.newEstudio">
                                <a *ngIf="item.pdf">
                                    <i class="fa fa-print" id="ver" (click)="descargarPDF(item.pdf, item.idServicio.ESTUDIO)"></i>
                                </a>
                                <a *ngIf="item.link" [href]="item.link" target="_blank">
                                    <i class="fa fa-eye" id="ver"></i>
                                </a>
                            </div>
                            <div *ngIf="!item.newEstudio">
                                <a *ngIf="item.nombreServicio != 'ENDOSCOPIA'">
                                    <i class="fa fa-print" id="ver" (click)="obtenerVAlores(item)"></i>
                                </a>
                                <a (click)="descargarPDF(item.resultados[0].obtenidos.imgs[0].base,item.idServicio.ESTUDIO)" *ngIf="item.nombreServicio == 'ENDOSCOPIA'">
                                    <i class="fa fa-print" id="ver"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="offset-md-4">
                    <pagination-controls class="my-pagination" autoHide="true" nextLabel="Siguiente" previousLabel="Anterior" id="listaestudios" maxSize="5" directionLinks="true" (pageChange)="pagina = $event"></pagination-controls>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="row" *ngIf="estudiosUsg.length != 0">
        <div class="col-md-12">
            <app-titulos [title]="titulo2"></app-titulos>
        </div>
    </div>

    <div class="row" *ngIf="estudiosUsg.length != 0" style="margin-bottom: 20px;">
        <div class="col-md-12 col-lg-12">
            <div class="card">
                <div class="card-heder header mayus">
                    <div class="row">
                        <div class="col-md-1 text_header">
                            <p>#</p>
                        </div>
                        <div class="col-md-2 text_header">
                            <p>FECHA</p>
                        </div>
                        <div class="col text_header">
                            <p>NOMBRE</p>
                        </div>
                        <div class="col-md-1 text_header">
                            <p>EDAD</p>
                        </div>
                        <div class="col-md-1 text_header">
                            <p>SEXO</p>
                        </div>
                        <div class="col text_header">
                            <p>SEDE</p>
                        </div>
                        <div class="col text_header">
                            <p>ESTUDIO</p>
                        </div>
                        <div class="col text_header">
                            <p>DESCARGAR</p>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                        <div class="row pointer puntero" *ngFor="let item of estudiosUsg; let i = index">
                            <div class="col-md-1">
                                <p>{{ i + 1 }}</p>
                            </div>
                            <div class="col-md-2">
                                <p>{{ item.fechaPedido | date: 'dd/MM/yyyy':'UTC' }}</p>
                            </div>
                            <div class="col">
                                <p>{{ paciente.nombrePaciente }} {{ paciente.apellidoPaterno }} {{ paciente.apellidoMaterno }}</p>
                            </div>
                            <div class="col-md-1">
                                <p>{{ paciente.edad }}</p>
                            </div>
                            <div class="col-md-1">
                                <p>{{ paciente.genero }}</p>
                            </div>
                            <div class="col">
                                <p>{{ item.sede }}</p>
                            </div>
                            <div class="col">
                                <p>{{ item.idServicio.ESTUDIO }}</p>
                            </div>
                            <div class="col">
                                <a (click)="obtenerVAlores(item)" *ngIf="nombreServicio != 'endoscopia'">
                                    <i class="fa fa-print" id="ver"></i>
                                </a>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div> -->
</div>

<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="large" color="#00bbf1" type="ball-atom" [fullScreen]="true">
    <br>
    <p style="color: white"> Cargando... </p>
</ngx-spinner>