.container-fluid{
    padding-left: 3.5rem; 
    padding-right: 3.5rem;
}
span {
    font-weight: 700;
    margin-right: 0.3rem;
    font-size: 1.1rem;
}
.centerxd {
    padding: 15px;
    text-align: left;
    font-size: 40px;
    font-weight: 600;
    color: #00acd8;
    font-style: italic;
}

.header {
    background-color: #00acd8;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
}
#card {
    border-color: white;
    border-radius: 1em;
    box-shadow: 19px 18px 20px -8px rgba(196, 192, 196, 1);
    /* height: 17em; */
    width: 100% !important;
    margin-bottom: 3em;
    /* display: inline-block !important; */
}

.estudios{
    background-color: #00acd8;
    color: white;
    border: none;
    border-radius: 15px;
    height: 30px;
    width: 50%;
    font-size: 20px;
}