<div class="container-fluid">
    <div class="row">
        <div class="col-md-9">
            <app-titulos [title]="'BITACORA DE CONSULTA EXTERNA'"></app-titulos>
        </div>
        <div class="col">
            <!-- TODO: REVISAR EL HISTORIAL DE CONSULTAS EN SOCIO -->
            <!-- <button class="boton" [routerLink]="['/historico/consulta/general']"> HISTORIAL DE CONSULTAS </button> -->
            <button class="principalButton" (click)="imprimirBitacora()"> IMPRIMIR </button>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="card">
                <div class="card-heder header mayus">
                    <div class="row">
                        <div class="col-md-1 text_header">
                            <p>#</p>
                        </div>
                        <div class="col text_header">
                            <p>FECHA</p>
                        </div>
                        <div class="col text_header">
                            <p>HORA</p>
                        </div>
                        <div class="col text_header">
                            <p>NOMBRE DEL PACIENTE</p>
                        </div>
                        <div class="col-md-1 text_header">
                            <p>EDAD</p>
                        </div>
                        <div class="col text_header">
                            <p>SEXO</p>
                        </div>
                        <div class="col text_header">
                            <p>DIANOSTICO</p>
                        </div>
                        <div class="col text_header">
                            <p>CURP</p>
                        </div>
                        <div class="col text_header">
                            <p>ENFERMERÍA</p>
                        </div>
                        <!-- <div class="col text_header">
                            <p>MÉDICO</p>
                        </div> -->
                        <div class="col text_header">
                            <p>OBSERVACIONES</p>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div *ngFor="let item of consultas| paginate:{id:'listapacientes',
                    itemsPerPage: 5,
                    currentPage:pagina,
                    totalItems:totalpaciente} ; let i = index">
                        <div class="row pointer sombra" (click)="cambiarEstado(item._id, item.paciente.consultas)">
                            <div class="col-md-1">
                                <p>{{ i +1}}</p>
                            </div>
                            <div class="col">
                                <p>{{ item.fechaIngreso }}</p>
                            </div>
                            <div class="col">
                                <p>{{ item.horaIngreso }}</p>
                            </div>
                            <div class="col">
                                <p>{{ item.paciente.nombrePaciente | uppercase }} {{ item.paciente.apellidoPaterno | uppercase }} {{ item.paciente.apellidoMaterno | uppercase }}</p>
                            </div>
                            <div class="col-md-1">
                                <p>{{ item.paciente.edad }}</p>
                            </div>
                            <div class="col">
                                <p>{{ item.paciente.genero | uppercase }}</p>
                            </div>
                            <div class="col">
                                <p>{{ item.diagnosticoActual | uppercase }}</p>
                            </div>
                            <div class="col">
                                <p>{{ item.paciente.curp | uppercase }}</p>
                            </div>
                            <div class="col">
                                <p>{{ item.enfermeraAtendio | uppercase }}</p>
                            </div>
                            <!-- <div class="col">
                                <p>{{ item.doctorAPasar | uppercase }}</p>
                            </div> -->
                            <div class="col">
                                <p>{{ item.motivoIngreso | uppercase }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="offset-md-4">
                    <pagination-controls class="my-pagination" autoHide="true" nextLabel="Siguiente" previousLabel="Anterior" id="listapacientes" maxSize="5" directionLinks="true" (pageChange)="pagina = $event"></pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- <h1 class="centerxd">BITACORA DE CONSULTA EXTERNA</h1>


<div class="container">
    <div class="row">
        <div class="col-md-12">

            <table class="table" id="bitacora" style="margin-left: -3rem;">
                <thead style="background-color: #03318c;">
                    <tr style="color: white; font-size: 13px;">
                        <th> N° </th>
                        <th> FECHA </th>
                        <th> HORA </th>
                        <th> NOMBRE DEL PACIENTE </th>
                        <th> EDAD </th>
                        <th> SEXO </th>
                        <th> DIANOSTICO </th>
                        <th> CURP </th>
                        <th> ENFERMERÍA </th>
                        <th> MÉDICO </th>
                        <th> TURNO </th>
                        <th> OBSERVACIONES </th>
                    </tr>
                </thead>
                <tbody>
                    <tr style="background-color: white; color: black;" *ngFor="let item of consultas; let i = index">
                        <td>
                            {{ i +1}}
                        </td>
                        <td>
                            {{ item.fechaIngreso }}
                        </td>
                        <td>
                            {{ item.horaIngreso }}
                        </td>
                        <td *ngIf="item.paciente.consultas === 1 || item.paciente.consultas == 0" [routerLink]="['/historia/clinica', item._id]" (click)="cambiarEstado(item._id)">
                            {{ item.paciente.nombrePaciente }} {{ item.paciente.apellidoPaterno }} {{ item.paciente.apellidoMaterno }}
                        </td>
                        <td *ngIf="item.paciente.consultas > 1" [routerLink]="['/hoja/evolucion', item._id]" (click)="cambiarEstado(item._id)">
                            {{ item.paciente.nombrePaciente }} {{ item.paciente.apellidoPaterno }} {{ item.paciente.apellidoMaterno }}
                        </td>
                        <td>
                            {{ item.paciente.edad }}
                        </td>
                        <td>
                            {{ item.paciente.genero | titlecase }}
                        </td>
                        <td>
                            {{ item.diagnosticoActual }}
                        </td>
                        <td>
                            {{ item.paciente.curp }}
                        </td>
                        <td>
                            {{ item.enfermeraAtendio }}
                        </td>

                        <td> Médico </td>
                        <td> Turno </td>

                        <td>

                            {{ item.observaciones }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3 offset-md-5 mb-3">

            <button class="principalButton" (click)="imprimirBitacora()"> Imprimir </button>
        </div>
    </div>
</div> -->