.centerxd {
    text-align: left;
    font-size: 40px;
    font-weight: 600;
    color: #001672;
    font-style: italic;
    margin-right: 15em;
}

.section {
    width: 100%;
}

.paciente-card {
    padding: 0.4rem;
}

.font {
    color: #001672;
    font-size: 1.2rem;
}

.card {
    /* border-radius: 1.4rem; */
    background-color: white;
    box-shadow: 30px 10px 20px -8px rgba(196, 192, 196, 1);
    margin: 0px 1rem;
    /* padding: 0.6rem; */
    width: 100%;
}

.fecha {
    text-align: right;
    font-size: 20px;
    font-weight: 800;
    color: #001672;
    font-style: normal;
    margin-right: 50px;
}

.center {
    margin-left: auto;
    font-size: 25px;
}

.btn {
    margin-left: 72%;
    border-radius: 120px;
    background-color: yellow;
    margin-block-end: 10px;
}

.boton {
    margin-left: 225%;
    border-radius: 120px;
    background-color: #8cff92;
    margin-block-end: 10px;
}

.name {
    margin-left: 0.4rem;
}

.cardd {
    /* border-radius: 1.4rem; */
    background-color: white;
    box-shadow: 30px 10px 20px -8px rgba(196, 192, 196, 1);
    /* margin: 0px 1rem; */
    /* padding: 0.6rem; */
    padding: 0.4rem;
    width: 100%;
}

@media (max-width: 1061px) {
    .title {
        width: 100%;
    }
}