.head-container {
    border: 1px solid #282788;
    border-radius: 25px;
    background-color: #ffffff;
    margin-left: 4rem;
    max-width: 1100px;
}

.btn-censur {
    width:100%;
}

h3{
    color: #686A8F !important;
}

.principalButton {
    color: white;
}

.card {
    width: 100%;
}

.body-left {
    margin-top: 1rem;
    max-width: 20rem;
    border: 1px solid #282788;
    float: left;
    border-radius: 25px;
    margin-left: 4rem;
    margin-right: 1rem;
    height: 61rem;
    /* max-width: 900px; */
}

.second-button {
    background-color: var( --button-secondary);
    border: transparent;
    color: white;
    border-radius: 4rem;
}

li {
    list-style: none;
}

li>button {
    margin-bottom: .8rem;
}

.body-r {
    margin-top: 1rem;
    border: 1px solid #282788;
    border-radius: 25px;
    max-width: 50rem;
    margin-left: 24.3rem;
    height: auto;
    max-width: 778px;
}

h1 {
    text-align: left;
}

p {
    display: inline-block;
}

p,
h2,
label,
strong,
h3,
h4 {
    color: var(--principal-text);
}

span {
    font-weight: bold;
    color: black;
}

.botones-he {
    margin-top: 1rem;
    text-align: center;
    margin-left: 1rem;
}

i {
    cursor: pointer;
}

.modal-grafica {
    height: 40rem;
}

.inputStyle {
    width: 100%;
    border-radius: 12px;
    border: 1px solid #282788;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-right: 2rem;
}

.selectStyle,
select {
    max-width: 47rem;
    border-radius: 10px;
    border: 1px solid #282788;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 500;
    margin-right: 2rem;
}

.enBloques,
input {
    margin-top: 1.2rem;
    border-radius: 12px;
    width: 45rem;
}

.primerReceta {
    width: 20px;
    margin-top: 0;
    margin-top: 0.8rem;
}

.resaltar {
    font-size: 1.4rem;
}


/* .enBloques,
label {
  margin-top: 1.2rem;
  margin-left: 1.3rem;
  margin-right: 0.1rem;
}



.enBloques,
label:first-of-type {
  margin-left: 1rem;
  margin-top: 1.2rem;
}

.enBloquesFisica,
label {
  margin-left: 1.5rem;
  margin-right: 6rem;
  margin-bottom: 1.1rem;
} */

.enBloque,
label {
    margin-top: 1rem
}

.centerxd {
    text-align: left;
    font-size: 40px;
    font-weight: 600;
    color: #00BBF1;
    font-style: italic;
    margin-left: 15px;
}

#card {
    border-color: white;
    border-radius: 1em;
    box-shadow: 19px 18px 20px -8px rgba(196, 192, 196, 1);
    /* height: 17em; */
    width: 100% !important;
    margin-bottom: 3em;
    /* display: inline-block !important; */
}

.modal-dialog {
    max-width: 95%;
}

.estudios{
    box-shadow: 2px 2px 9px 4px rgb(196 192 196) !important;
}

.btn-cambio{
    outline: none;
}

.btn-cambio:hover{
    color: #00BBF1 !important;
    font-weight: bold;
    text-transform: uppercase;
}

.signos{
    box-shadow: 2px 2px 9px 4px rgb(196 192 196) !important;
    overflow-x: hidden; 
    height: 25rem;
    scrollbar-color: rgba(0, 0, 0, .5) rgba(0, 0, 0, 0);
    scrollbar-width: thin;
}

/* Estilos para motores Webkit y blink (Chrome, Safari, Opera... )*/

.signos::-webkit-scrollbar {
    -webkit-appearance: none;
}

.signos::-webkit-scrollbar:vertical {
    width:10px;
}

.signos::-webkit-scrollbar-button:increment,.signos::-webkit-scrollbar-button {
    display: none;
} 

.signos::-webkit-scrollbar:horizontal {
    height: 10px;
}

.signos::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}

.signos::-webkit-scrollbar-track {
    border-radius: 10px;  
}

a{
    font-weight: 800;
    color: #00acd8;
}

.botonSignos{
    background-color: transparent;
    border: none;
}

.botonSignos:hover{
    color: #00acd8;
    border: 1px solid #00acd8;
    border-radius: 5px;
    outline: none;
}
