.fecha {
    margin-top: 20px;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    color: #00acd8;
    font-style: normal;
}
span{
    margin-left: 15px;
    font-weight: bolder;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

select{
    margin-left: 10px;
    border-radius: 25px;
    font-weight: 400;
    font-size: 1rem;
    max-width:40em;
    box-shadow: 3px 3px 6px gray;
    border: none;
    width: 20%;
    outline: none;
    padding-left: 5px;
    margin-bottom: 10px;
}