#container{
    margin-left: 50px;
    margin-right: 50px;
}

h2 {
    color: var(--principal-text);
}

.totalApagar {
    font-weight: bold;
    font-size: 1.3rem;
}

.center {
    text-align: center;
}

.margin-radio {
    margin-left: 0.9rem;
}

.text-danger {
    cursor: pointer;
}

.white {
    color: white;
    text-align: center;
}

margin-label {
    margin-left: 0.5rem;
}

#cardheader {
    background-color: #00acd8 !important;
    border-radius: 1rem 1rem 0rem 0rem;
    color: white;
    font-weight: 600;
}

#cardfooter {
    background-color: #00acd8 !important;
    border-radius: 0rem 0rem 1rem 1rem;
    color: white;
    font-weight: 400;
    text-align: end;
}

#card {
    border-color: white;
    border-radius: 1em;
    box-shadow: 19px 10px 10px -8px rgba(196, 192, 196, 1);
    /* height: 17em; */
    width: 100% !important;
    margin-bottom: 3em;
    height: 40rem;
    /* display: inline-block !important; */
}

.fecha {
    text-align: right;
    font-size: 20px;
    font-weight: 800;
    color: #00acd8;
    font-style: normal;
}

.btn-orden {
    height: auto;
}

#solicito{
    border-radius: 20px;
    box-shadow: 3px 3px 10px rgba(196, 192, 196, 1);
    /* box-shadow: 19px 10px 10px -8px rgba(196, 192, 196, 1); */
}

#metodos{
    display: flex;
    background-color: #00acd8;
    height: 40px;  
    width: 100% !important;
    margin: 0px !important;  
}

#metodos div{
    margin: 5px 0px 0px 0px !important;
    color: white !important;
    font-weight: bold;
}

.boton{
    border: none;
    background-color: #00acd8 !important;
    color: white; 
    align-items: center;
    border-radius: 20px;
    font-size: 1.3rem;
    font-weight: bolder;
    height: 40px;
    width: 250px;
}
/* ::-webkit-scrollbar {
    display: none;
} */

#titulo{
    margin-left: 30px;
}

#boton{
    margin-top: 20px;
    text-align: center;
}

#fechaNacimiento{
    border-radius: 20px;
    box-shadow: 3px 3px 10px rgba(196, 192, 196, 1);
}
