#signosVitalesH{
    margin-top: 25px;
}

#cabecera p{
    font-size: .8rem;
    color: #00acd8;
    font-weight: bold;
}

#valores p{
    font-size: .8rem;
}

.card-header{
    background-color: transparent;
}