<div class="container-fluid">
    <app-titulos [title]="'LISTADO DE PACIENTES'" [rol]="'pacientes'"></app-titulos>

    <div class="row">
        <div class="col-md-7">
            <div class="form-group">
                <input type="text" name="filterPost" placeholder="Buscar" [(ngModel)]="filtropacientes" class="form-control" id="busquedaPaciente" (keyup)="typeSearchPatients()">
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <input type="text" name="filterPost" placeholder="Expediente: 300" [(ngModel)]="filtroexpediente"  (keyup)="typeSearchExpedientes()"  class="form-control" id="busquedaExpediente">
            </div>
        </div>
        <div class="col-md-2">
            <a type="button" *ngIf="validar" class="btn btn-secondary boton_contra2" [routerLink]="['/registro', 'pacientes']">NUEVO</a>
            <a type="button" *ngIf="validar == false" class="btn btn-secondary boton_contra2" [routerLink]="['/registro/paciente/sede']">NUEVO</a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="card">
                <div class="card-heder header">
                    <div class="row">
                        <div class="col-md-4 text_header">
                            <p>Nombre</p>
                        </div>
                        <div class="col text_header">
                            <p>Género</p>
                        </div>
                        <div class="col text_header">
                            <p>Edad</p>
                        </div>
                        <div class="col text_header">
                            <p>Teléfono</p>
                        </div>
                        <div class="col text_header">
                            <p>Expediente</p>
                        </div>
                        <div class="col text_header">
                            <p>Sede</p>
                        </div>
                        <div class="col text_header">
                            <p>Servicios</p>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div *ngFor="let paciente of pacientes2 | paginate:{id:'listapacientes',
                                                              itemsPerPage: 7,
                                                              currentPage:pagina,
                                                              totalItems:totalpaciente}">
                        <div class="row pointer" [routerLink]="['/paciente', paciente._id]">
                            <div class="col-md-4" style="text-align: center;">
                                <p>
                                    {{ paciente.nombrePaciente | uppercase }} {{ paciente.apellidoPaterno | uppercase }} {{ paciente.apellidoMaterno | uppercase }} <br>
                                </p>
                            </div>
                            <div class="col" style="text-align: center;">
                                <p>
                                    {{paciente.genero | uppercase}}
                                    <br></p>
                            </div>
                            <div class="col" style="text-align: center;">
                                <p>
                                    {{ paciente.edad }}<br>
                                </p>
                            </div>
                            <div class="col" style="text-align: center;">
                                <p>
                                    {{ paciente.telefono }} <br>
                                </p>
                            </div>
                            <div class="col" style="text-align: center;">
                                <p *ngIf="paciente.numeroExpediente!=undefined">
                                    {{ paciente.numeroExpediente }} <br>
                                </p>
                                <p *ngIf="paciente.numeroExpediente==undefined">
                                   S/E <br>
                                </p>
                            </div>
                            <div class="col" style="text-align: center;">
                                <p>
                                    {{ paciente.sede }} <br>
                                </p>
                            </div>
                            <div class="col" style="text-align: center;">
                                <div class="row">
                                    <div class="col">
                                        <p>
                                            <a [routerLink]="['/paciente', paciente._id]">
                                                <i class="fa fa-eye eyeS puntero" id="ver"></i>
                                            </a>
                                        </p>
                                    </div>
                                    <div class="col" *ngIf="sede == paciente.sede && rol == 'Admin'"> <!-- *ngIf="rol == 'Admin'" -->
                                        <i class="fas fa-edit" id="ver" [routerLink]="['/actualizar/fi/pacientes/', paciente._id]"></i>   
                                    </div> 
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="pacientes2 == []">
                        <p>
                            Aún no hay pacientes registrados
                        </p>
                    </div>
                </div>
                <div class="offset-md-4">
                    <pagination-controls class="my-pagination" autoHide="true" nextLabel="Siguiente" previousLabel="Anterior" id="listapacientes" maxSize="5" directionLinks="true" (pageChange)="pagina = $event"></pagination-controls>
                </div>
            </div>
        </div>
    </div>
    <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "large" color = "#00bbf1" type = "ball-scale-multiple" [fullScreen] = "true"><p style="color: white" > Cargando... </p></ngx-spinner>
    <!-- <spinner-perrucho></spinner-perrucho> -->
</div>