.cardPer {
    margin: 0 auto;
    border-color: white;
    border-radius: 2em;
    box-shadow: 19px 18px 20px -8px rgba(196, 192, 196, 1);
    margin-bottom: 3em;

}

label {
    display: block;
}

input[type="radio"] {
    margin-left: 10px;
}

.riesgoCaidalbl {
    display: inline-block;
    margin-left: 10px;
}

.secondaryButton {
    margin-top: 1.8rem;
}

.signos-vitales input {
    text-align: center;
}

span {
    font-size: 1rem;
    font-weight: 400;
    color: #001672;
}

.margenDer {
    margin-right: 4rem;
}

.centerxd {
    text-align: left;
    font-size: 40px;
    font-weight: 600;
    color: #001672;
    font-style: italic;
    margin-left: 25px;
}

.fecha   {
    font-size: 25px;
    font-weight: 800;
    color: #001672;
    font-style: normal;
}

#card {
    border-color: white;
    border-radius: 1em;
    box-shadow: 19px 18px 20px -8px rgba(196, 192, 196, 1);
    /* height: 17em; */
    width: 100% !important;
    margin-bottom: 3em;
    /* display: inline-block !important; */
}

.btn-block {
    margin-top: 25px;
    margin-block-end: 25px;
}