<div class="container">
    <div class="row">
        <div class="col-md-8">
            <app-titulos [title]="'AGREGAR PACIENTE'" [rol]="'Registro'"></app-titulos>
        </div>
    </div>
    <app-stepper></app-stepper>

</div>