<!-- <div class="row">
    <div class="col-6">
        <h1 class="centerxd">HISTORIAL DE CONSULTAS</h1>
    </div>

    <div class="col-md-3 offset-md-9">
        <a routerLink="/ver/estudios/pendientes/por/aprobar"> Ver estudios  </a>
    </div>
</div> -->
<div class="containerfluid">
    <app-tablas-consultas [estudiosPendientes]="'consultas'"></app-tablas-consultas>
</div>