#content {
    max-width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

.cursor {
    cursor: pointer;
}
::ng-deep .card-columns {
    -moz-column-count: 2 !important;
    column-count: 3 !important;
    flex-direction: row !important;
    flex-wrap: wrap !important;
    justify-content: space-between !important;
}
.paginador {
    text-align: center;
}

#card {
    border-radius: 2em;
    background-color: white;
    box-shadow: 10px 10px 20px -8px rgba(196, 192, 196, 1);
    width: 65%;
    margin-bottom: 2em;
    padding: 5px;
}

#img2 {
    max-width: 55% !important;
    display: block;
    margin: auto;
}

#h2 {
    color: #00acd8;
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
    font-size: 18px;
    font-weight: 800;
}

a {
    color: white !important;
}

pagination-controls{
    color: #00acd8;
}

.my-pagination ::ng-deep .ngx-pagination .current {
    background: #00acd8;
}

@media (min-width: 576px) and (max-width:767px) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

@media (min-width: 768px) and (max-width:991px) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

@media (min-width: 992px) and (max-width:1199px) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

@media (min-width: 1200px) {
    ::ng-deep  .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3 !important;
        offset-distance: inherit;
    }
}