.container-fluid{
    height: 32rem; 
    padding-left: 3.5rem;
    padding-right: 3.5rem;
}

.header {
    background-color: #00acd8;
}

.card{
    border-radius: 30px; 
    margin-left: 25px;
    margin-top: 15px;
    box-shadow: 3px 3px 10px gray;
}

.text_header {
    text-align: center;
    margin-top: 15px;
    font-weight: 600;
    color: white;
    margin-top: 15px;
    font-weight: 600;
    color: white;
}

.mayus {
    text-transform: uppercase;
}

.boton{
    border: none;
    background-color: #00acd8 !important;
    color: white; 
    align-items: center;
    border-radius: 20px;
    font-size: 1rem;
    font-weight: bolder;
    height: 40px;
    width: 250px;
    margin-top: 5px;
}

.col, p{
    overflow-wrap: break-word;
    text-align: center;
    font-size: 15px;
    font-weight: 800;
}

pagination-controls{
    color: #00acd8;
}

.my-pagination ::ng-deep .ngx-pagination .current {
    background: #00acd8;
}

#buscador{
    border-radius: 15px;
    font-weight: 400;
    font-size: 1rem;
    margin-left: 25px; 
    max-width:50em;
    box-shadow: 3px 3px 10px gray;
}