.card {
    border-color: white;
    border-radius: 1em;
    box-shadow: 19px 18px 20px -8px rgba(196, 192, 196, 1);
    /* width: 72rem !important; */
    width: 100%;
    margin-bottom: 1em;
}

body {
    height: 100%;
    overflow-y: scroll;
}

.centerxd {
    text-align: left;
    font-size: 20px;
    font-weight: 600;
    color: #001672;
    font-style: italic;
    margin-left: 25px;
}

.img-width{
    width: 28%;
    margin:2%;
}
.elements {
    text-align: center;
    font-size: 14px;
    font-weight: 800;
    color: #001672;
    font-style: normal;
}

.obtenidos{
    text-align: center;
    font-size: 14px;
    font-weight: 800;
    font-style: normal;
}

.no-print-screen{
    display: none;
}


.usg {
    display: flex;
    flex-wrap: row nowrap;
}

.buttonSVY {
    width: 50%;
    margin-left: 25%;
}

.hide-display {
    display: none;
}

.img-fluid {
    width: 100%;
    height: auto;
}


.sombra {
    box-shadow: 19px 18px 20px -8px rgb(196 192 196);
    padding: 1%;
    border-color: white;
}

.fontColor {
    color: #001672;
}

.centerxd {
    text-align: left;
    font-size: 20px;
    font-weight: 600;
    color: #001672;
    font-style: italic;
    margin-left: 25px;
}

@media print {

    .table-data{
        margin-top: 3rem;
    }

     .header-row {
        display: block;
        margin-bottom: 6rem;
    }

    .centerxd{
        text-align: center;
    }

    .show-to-pdf{
        position: fixed;
        margin-bottom: 2rem;
    }

    .card-pdf {
        position: fixed;
        top: 24rem;
        height: 80%;
    }
/* 
    .show-footer {
        display: block;
    } */

    /* .show-footer > img {
        position: fixed;
        bottom: 1rem;
    } */

    .show-to-pdf > img {

        position: fixed;
        top: 3rem;
        height:3%;
        margin-bottom: 2rem;
        margin-left: 1rem;
    }

}

.btn-censur{
    display: inline-block;
    margin-left:75%;
}

.title-principal-bs{
    font-size: 1.6rem;

}

.btn-censur{
    margin-left: 0;
    width: 100%;
    background-color: #00ACD8;
    border: 1px solid rgba(112, 112, 112, 0.2);
    box-sizing: border-box;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    padding: 0.3rem;
    color: white;
    margin-bottom: 10px;
}

p {
    font-size: 1.3rem;
    color: black;
}

.inline-block{
    display: inline-block;
}