p {
    color: var(--principal-text);
}
.btn-censur {
    width:100%;
}
.card {
    padding: 0.5rem;
    height: auto;
}

#card {
    margin: 0 auto;
    border-color: white;
    border-radius: 1em;
    box-shadow: 19px 18px 20px -8px rgba(196, 192, 196, 1);
    /* height: 17em; */
    width: 95%;
    margin-bottom: 3em;
    /* display: inline-block !important; */
}

.centerxd {
    text-align: left;
    font-size: 40px;
    font-weight: 600;
    color: #001672;
    font-style: italic;
    margin-left: 3rem;
}

ul>li {
    list-style: none;
}

.principalButton {
    background-color: var(--button-principal);
    color: white;
}

.second-button {
    background-color: var( --button-secondary);
    border: transparent;
    color: white;
    border-radius: 4rem;
}

.inputStyle {
    width: 100%;
    border-radius: 12px;
    border: 1px solid #282788;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-right: 2rem;
}

.modal-dialog {
    max-width: 95%;
    
}

.usg {
    display: flex;
    flex-wrap: row nowrap;
}

span {
    font-size: 1.2rem;
    font-weight: 700;
}

.estudios{
    box-shadow: 2px 2px 9px 4px rgb(196 192 196) !important;
}

.signos{
    box-shadow: 2px 2px 9px 4px rgb(196 192 196) !important;
    overflow-x: hidden; 
    height: 25rem;
    scrollbar-color: rgba(0, 0, 0, .5) rgba(0, 0, 0, 0);
    scrollbar-width: thin;
}

/* Estilos para motores Webkit y blink (Chrome, Safari, Opera... )*/

.signos::-webkit-scrollbar {
    -webkit-appearance: none;
}

.signos::-webkit-scrollbar:vertical {
    width:10px;
}

.signos::-webkit-scrollbar-button:increment,.signos::-webkit-scrollbar-button {
    display: none;
} 

.signos::-webkit-scrollbar:horizontal {
    height: 10px;
}

.signos::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}

.signos::-webkit-scrollbar-track {
    border-radius: 10px;  
}

.btn-cambio{
    outline: none;
}

.btn-cambio:hover{
    color: #00BBF1 !important;
    font-weight: bold;
    text-transform: uppercase;
}

td:hover{
    color: #00BBF1 !important;
    font-weight: bolder;
}

.elim i:hover {
    color: red;
}