<div class="row botones">
    <!-- <div class="col-md-4 mt-3">
        <div class="center forced-jump noprint">
            <button type="button" class="btn-censur hide-when-printing buttonSVY" (click)="viewLab()">
                VER
            </button>
        </div>
    </div> -->
    <div class="col-md-4 mt-3">
        <div class="center forced-jump noprint">
            <button type="button" class="btn-censur hide-when-printing buttonSVY" (click)="descargarPDF()">
                DESCARGAR
            </button>
        </div>
    </div>
</div>
